PicSim/PicSim/PicSim/bin/Debug/PicSim.pdb
PicSim/PicSim/PicSim/bin/Debug/PicSim.exe
PicSim/PicSim/PicSim/obj/Debug/PicSim.csproj.GenerateResource.Cache
PicSim/PicSim/.vs/PicSim/v14/.suo
PicSim/PicSim/PicSim/bin/Debug/PicSim.exe
PicSim/PicSim/PicSim/bin/Debug/PicSim.exe
PicSim/PicSim/PicSim/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PicSim/PicSim/PicSim/obj/Debug/PicSim.csproj.GenerateResource.Cache
*.cache
PicSim/PicSim/PicSim/obj/Debug/PicSim.pdb
PicSim/PicSim/PicSim/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.cache
PicSim/PicSim/PicSim/obj/Debug/PicSim.csproj.GenerateResource.Cache
*.cache
*.dll
PicSim/PicSim/PicSim/bin/Debug/Interop.WMPLib.dll
PicSim/PicSim/PicSim/bin/Debug/PicSim.exe
PicSim/PicSim/PicSim/obj/Debug/DesignTimeResolveAssemblyReferences.cache
PicSim/PicSim/PicSim/obj/Debug/PicSim.pdb
PicSim/PicSim/PicSim/obj/Debug/PicSim.exe
PicSim/PicSim/PicSim/obj/Debug/PicSim.csprojResolveAssemblyReference.cache